body{
    background-color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
img{
    
    width: 200px;
  
   margin-right: 100px;
   margin-left: 100px;
   margin-top: 20px;
}

.Encabezado {
    background-color: khaki;
    margin: 0px;  
}

.EncabezadoTexto {
    margin-right: 100px;
    margin-left: 100px;
}

.texto {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 10px;
}

.informacion {
    background-color: lavender;
}